* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', 'sans-serif';
    font-weight: 300;
}

.horizontal-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-img-top {
    max-width: 300px;
}
